<ion-header>

  <ion-navbar>
    <ion-title>Your contacts...</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-input type="search" [(ngModel)]="keyword" 
      placeholder="Search..."></ion-input>
  </ion-item>

  <h3 *ngIf="!(contacts | filter: keyword).length">No result!</h3>

  <ion-list>

    <ion-item *ngFor="let c of (contacts | filter: keyword)" 
      (click)="showContactDetailsFor(c.id)">

      <ion-avatar item-start>
        <img [src]="c.picture">
      </ion-avatar>
      <h2>{{ c | fullname }}</h2>
      <p>{{ c.email }}</p>
      <p>{{ c.phone }}</p>
      
    </ion-item>

  </ion-list>
</ion-content>